  <br>
  <div class="row">
    <div class="large-15 columns"> 
      <div class="row">
        <div class="large-10 hide-for-small"> 
          <div id="featured" data-orbit>
              <!--img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
              <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image"-->
              <%= image_tag("zdenac1.jpg", alt:"slide image") %>
              <%= image_tag("zdenac2.jpg", alt:"slide image") %>
              <%= image_tag("zdenac3.jpg", alt:"slide image") %>
            </div> 
      </div>
    </div>      
 
      <div class="row">
              <div class="large-10 columns show-for-small">           
          <h2 style="align:center; color:white; font-size:large; font-weight:bold">T.S. Zdenac</h2>
        </div>
      </div><br> 
      <div class="row">
        <div class="large-10 columns">
          <div class="row">
             
            <div class="large-4 small-6 columns">
 
              <h4 class="myTitle">Javni nastupi</h4><hr>
 
              <div class="row">
                <!--div class="large-1 column">
                  <img src="http://placehold.it/50x50&text=[img]">
                </div-->                
 
                <div class="large-12 columns" style="color:white">
                  1.12.2014 - Caffe bar "kod Pere"                  
                </div>
              </div><hr>
              <div class="row">
              	<div class="large-12 columns" style="color:white">
                  3.12.2014 - Caffe bar "kod Đure"                  
                </div>
              </div><hr>
 
              <div class="hide-for-small">                                            
              </div>
            </div> 
            <div class="large-4 small-6 columns">
              <!--img src="http://placehold.it/300x200&text=Preuzmi"-->
              <%= link_to image_tag("prednja.png"), "#" %>              
            </div> 
 
            <div class="large-4 small-12 columns">
 
              <h4 class="myTitle">Kontakt</h4><hr>
              <div class="subheader">
                  Robi : 092/100-30-48 <br>
                  Đuro : 098/353-35-35
                </div>              
            </div> 
          </div>
        </div>
      </div>
  
      <footer class="row">
        <div class="large-12 columns"><hr>
            <div class="row">
 
              <div class="large-6 columns">
                  <p style="color:white;">© Copyright T.S. Zdenac <i class="ft-social-facebook"></i></p>
                  
              </div>
 
              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">                    
                  </ul>
              </div>
 
            </div>
        </div>
      </footer>
 
     
 
    </div>
  </div>
 
  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>    